body {
  background-color: #100e24;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 4rem;
}
#inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  box-sizing: border-box;
  justify-content: center;
}
#locationInput {
  outline: none;
  width: 14rem;
  background-color: #5248bc;
  color: white;
  padding: 1rem;
  border: none;
  box-sizing: border-box;
}
#unitSelect {
  background-color: #5248bc;
  color: white;
  border: none;
  padding: 1rem;
}
#locationSubmit {
  width: 4rem;
  background-color: #c5bfff;
  border: none;
  padding: 1rem;
  color: #100e24;
  box-sizing: border-box;
}
#output {
  color: white;
}
#results {
  width: 100%;
  height: fit-content;
  justify-content: center;
  text-align: center;
  display: none;
  color: white;
  flex-direction: column;
}
#results p {
  margin: 0.2rem;
}
#rPlaceName {
  font-size: 1rem;
}
#rCondition {
  font-size: 2rem;
}
#rTempNow {
  font-size: 7rem;
  font-weight: bold;
}
#alerts {
  background-color: #aa0000aa;
  backdrop-filter: blur(4px);
  width: 28rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
  border-radius: 1.9rem;
  box-sizing: border-box;
}
#alerts div {
  background-color: #ff48486c;
  padding: 0.5rem;
  border-radius: 1rem;
  box-sizing: border-box;
  user-select: none;
}
.alertType {
  color: #ffb3b3;
  font-weight: bold;
  cursor: pointer;
}
.alertDesc {
  font-size: 0.85rem;
}
.alertArea {
  font-size: 0.7rem;
}
#hourly {
  background-color: #414e92aa;
  backdrop-filter: blur(4px);
  width: 28rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 0.9rem;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scrollbar-width: none;
  gap: 0.25rem;
  border-radius: 3.9rem;
  box-sizing: border-box;
}
.hour {
  width: 4rem;
  height: auto;
  background-color: #3679b86c;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  user-select: none;
  border-radius: 90000px;
}
.hourTime {
  color: #8fc9ff;
  font-size: 0.85rem;
}
.hourTemp {
  font-size: 2rem;
  font-weight: bold;
}
.hourCondition {
  font-size: 0.85rem;
  height: auto;
  word-wrap: normal;
  width: 100%;
  margin: 0 !important;
  box-sizing: border-box;
  vertical-align: middle;
}
